In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/train.csv')

In [ ]:
df

                                customer_id  ... churn_risk_score
0          fffe4300490044003600300030003800  ...                2
1      fffe43004900440032003100300035003700  ...                1
2          fffe4300490044003100390032003600  ...                5
3      fffe43004900440036003000330031003600  ...                5
4      fffe43004900440031003900350030003600  ...                5
...                                     ...  ...              ...
36987  fffe43004900440035003500390036003100  ...                4
36988  fffe43004900440033003500380036003600  ...                5
36989      fffe4300490044003500330034003100  ...                4
36990  fffe43004900440031003200390039003000  ...                3
36991  fffe43004900440033003600340034003200  ...                2

[36992 rows x 25 columns]

In [ ]:
df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [ ]:
df_gender = pd.get_dummies(df['gender'])
df=pd.concat([df, df_gender], axis=1)

In [ ]:
df['gender'].value_counts()

F          18490
M          18443
Unknown       59
Name: gender, dtype: int64

In [ ]:
for i in range(len(df)):
  if df['gender'][i]=='F':
    df['gender'][i]=0
  elif df['gender'][i]=='M':
    df['gender'][i]=1
  elif df['gender'][i]=='Unknown':
    df['gender'][i]=2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df.head()

                            customer_id  ... churn_risk_score
0      fffe4300490044003600300030003800  ...                2
1  fffe43004900440032003100300035003700  ...                1
2      fffe4300490044003100390032003600  ...                5
3  fffe43004900440036003000330031003600  ...                5
4  fffe43004900440031003900350030003600  ...                5

[5 rows x 25 columns]

In [ ]:
df['gender'].value_counts()

F          18490
M          18443
Unknown       59
Name: gender, dtype: int64

In [ ]:
import seaborn as sns

In [ ]:
df = df[df['region_category'].notnull()]

In [ ]:
df['region_category'].value_counts()

Town       14128
City       12737
Village     4699
Name: region_category, dtype: int64

In [ ]:
import math
for i in range(len(df)):
  if df['region_category'][i]=='Town':
    df['region_category'][i]=0
  elif df['region_category'][i]=='City':
    df['region_category'][i]=1
  elif df['region_category'][i]=='Village':
    df['region_category'][i]=2
  elif math.isnan(df['region_category'][i]):
    if df['age'][i]>25:
      df['region_category'][i]=1
    else:
      df['region_category'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
df_region = pd.get_dummies(df['region_category'])
df=pd.concat([df, df_region], axis=1)

In [ ]:
df_memcat = pd.get_dummies(df['membership_category'])
df=pd.concat([df, df_memcat], axis=1)

In [ ]:
df['joined_through_referral'].value_counts()

No     13547
Yes    13380
?       4637
Name: joined_through_referral, dtype: int64

In [ ]:
df['preferred_offer_types'].value_counts()

Gift Vouchers/Coupons       12349
Credit/Debit Card Offers    12274
Without Offers              12081
Name: preferred_offer_types, dtype: int64

In [ ]:
df.shape

(36992, 31)

In [ ]:
for i in range(len(df)):
  if math.isnan(df['preferred_offer_types'][i]):
    df['preferred_offer_types'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df = df[df['preferred_offer_types']!='Credit/D']

In [ ]:
df.shape

(31564, 37)

In [ ]:
df_offer = pd.get_dummies(df['preferred_offer_types'])
df=pd.concat([df, df_offer], axis=1)

In [ ]:
df.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                    0
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types              0
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
Basic Membership                   0
Gold Membership                    0
No Membership                      0
Platinum Membership                0
Premium Membership                 0
Silver Membership                  0
dtype: int64

In [ ]:
df = df[df['preferred_offer_types'].notnull()]

In [ ]:
df.shape

(31325, 40)

In [ ]:
df.head()

                            customer_id  ... Without Offers
0      fffe4300490044003600300030003800  ...              0
1  fffe43004900440032003100300035003700  ...              0
2      fffe4300490044003100390032003600  ...              0
3  fffe43004900440036003000330031003600  ...              0
4  fffe43004900440031003900350030003600  ...              0

[5 rows x 40 columns]

In [ ]:
df['avg_transaction_value'].corr(df['points_in_wallet'])

0.09101513324577125

In [ ]:
df['days_since_last_login'].dtype

dtype('int64')

In [ ]:
df['used_special_discount'].value_counts()

Yes    17161
No     14164
Name: used_special_discount, dtype: int64

In [ ]:
len(df)

31325

In [ ]:
for i in range(7):
  if df['used_special_discount'][i]==1:
    df['used_special_discount'][i]='Yes'
  elif df['used_special_discount'][i]==0:
    df['used_special_discount'][i]='No'

In [ ]:
df_discount = pd.get_dummies(df['used_special_discount'])
df=pd.concat([df, df_discount], axis=1)

In [ ]:
df.head()

                            customer_id              Name  ...  No Yes
0      fffe4300490044003600300030003800   Pattie Morrisey  ...   0   1
1  fffe43004900440032003100300035003700       Traci Peery  ...   0   1
2      fffe4300490044003100390032003600   Merideth Mcmeen  ...   1   0
3  fffe43004900440036003000330031003600  Eufemia Cardwell  ...   1   0
4  fffe43004900440031003900350030003600      Meghan Kosak  ...   1   0

[5 rows x 42 columns]

In [ ]:
for i in range(len(df)):
  if df['offer_application_preference'][i]=='Yes':
    df['offer_application_preference'][i]=1
  elif df['offer_application_preference'][i]=='No':
    df['offer_application_preference'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df['offer_application_preference'].value_counts()

1    17344
0    13981
Name: offer_application_preference, dtype: int64

In [ ]:
df.head()

                            customer_id              Name  ...  No Yes
0      fffe4300490044003600300030003800   Pattie Morrisey  ...   0   1
1  fffe43004900440032003100300035003700       Traci Peery  ...   0   1
2      fffe4300490044003100390032003600   Merideth Mcmeen  ...   1   0
3  fffe43004900440036003000330031003600  Eufemia Cardwell  ...   1   0
4  fffe43004900440031003900350030003600      Meghan Kosak  ...   1   0

[5 rows x 42 columns]

In [ ]:
df['avg_frequency_login_days'].dtype

dtype('O')

In [ ]:
df=df.drop(['membership_category'],axis=1)

In [ ]:
df=df.drop(['customer_id'],axis=1)

In [ ]:
df=df.drop(['joining_date'],axis=1)

In [ ]:
df=df.drop(['Name','security_no','joined_through_referral','referral_id','medium_of_operation','internet_option','last_visit_time'],axis=1)

In [ ]:
df.head()

   age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0   18      0               2  ...      0                    0         0
1   32      0               1  ...      1                    0         0
2   44      0               0  ...      0                    1         0
3   37      1               1  ...      0                    0         1
4   31      0               1  ...      1                    0         0

[5 rows x 33 columns]

In [ ]:
df['past_complaint'].value_counts()

No     18602
Yes    18390
Name: past_complaint, dtype: int64

In [ ]:
for i in range(len(df)):
  if df['past_complaint'][i]=='Yes':
    df['past_complaint'][i]=1
  elif df['past_complaint'][i]=='No':
    df['past_complaint'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df['points_in_wallet'].median()

698.48

In [ ]:
df['feedback'].isnull().sum()

0

In [ ]:
df['feedback'].value_counts()

Poor Product Quality        6350
No reason specified         6290
Too many ads                6279
Poor Website                6271
Poor Customer Service       6252
Reasonable Price            1417
User Friendly Website       1391
Products always in Stock    1382
Quality Customer Care       1360
Name: feedback, dtype: int64

In [ ]:
df_feed = pd.get_dummies(df['feedback'])
df=pd.concat([df, df_feed], axis=1)

In [ ]:
df=df.drop(['feedback'],axis=1)

In [ ]:
df['complaint_status'].value_counts()

Not Applicable              18602
Unsolved                     4644
Solved                       4619
Solved in Follow-up          4577
No Information Available     4550
Name: complaint_status, dtype: int64

In [ ]:
df_complaint = pd.get_dummies(df['complaint_status'])
df=pd.concat([df, df_complaint], axis=1)

In [ ]:
df=df.drop(['complaint_status'],axis=1)

In [ ]:
for i in range(len(df)):
  if df['used_special_discount'][i]=='Yes':
    df['used_special_discount'][i]=1
  elif df['used_special_discount'][i]=='No':
    df['used_special_discount'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df=df.drop(['No','Yes'],axis=1)

In [ ]:
df

                                customer_id  ... Unsolved
0          fffe4300490044003600300030003800  ...        0
1      fffe43004900440032003100300035003700  ...        0
2          fffe4300490044003100390032003600  ...        0
3      fffe43004900440036003000330031003600  ...        1
4      fffe43004900440031003900350030003600  ...        0
...                                     ...  ...      ...
36987  fffe43004900440035003500390036003100  ...        0
36988  fffe43004900440033003500380036003600  ...        0
36989      fffe4300490044003500330034003100  ...        1
36990  fffe43004900440031003200390039003000  ...        0
36991  fffe43004900440033003600340034003200  ...        0

[36992 rows x 43 columns]

In [ ]:
df['avg_frequency_login_days'].value_counts()

Error                  3522
13.0                   1394
19.0                   1365
8.0                    1361
14.0                   1355
                       ...
0.9495793610542904        1
40.34063762167693         1
-7.8865216788059485       1
27.8399274405269          1
48.796329428114284        1
Name: avg_frequency_login_days, Length: 1654, dtype: int64

In [ ]:
a=df[df['avg_frequency_login_days']!='Error']

In [ ]:
a['avg_frequency_login_days'] = a.avg_frequency_login_days.astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
a['avg_frequency_login_days'].median()

16.0

In [ ]:
for i in range(len(df)):
  if df['avg_frequency_login_days'][i]!='Error':
    df['avg_frequency_login_days'][i]=float(df['avg_frequency_login_days'][i])
  else:
    df['avg_frequency_login_days'][i]=16.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df

       age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0       18      0               2  ...      0                    0         0
1       32      0               1  ...      1                    0         0
2       44      0               0  ...      0                    1         0
3       37      1               1  ...      0                    0         1
4       31      0               1  ...      1                    0         0
...    ...    ...             ...  ...    ...                  ...       ...
36987   46      0               1  ...      0                    0         0
36988   29      0               0  ...      0                    0         0
36989   23      0               0  ...      0                    0         1
36990   53      1               2  ...      0                    0         0
36991   35      1               0  ...      0                    0         0

[36992 rows x 33 columns]

In [ ]:
df['points_in_wallet'].fillna(value=df['points_in_wallet'].mean(), inplace=True)

In [ ]:
df

       age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0       18      0               2  ...      0                    0         0
1       32      0               1  ...      1                    0         0
2       44      0               0  ...      0                    1         0
3       37      1               1  ...      0                    0         1
4       31      0               1  ...      1                    0         0
...    ...    ...             ...  ...    ...                  ...       ...
36987   46      0               1  ...      0                    0         0
36988   29      0               0  ...      0                    0         0
36989   23      0               0  ...      0                    0         1
36990   53      1               2  ...      0                    0         0
36991   35      1               0  ...      0                    0         0

[36992 rows x 33 columns]

In [ ]:
df.isnull().sum()

age                             0
gender                          0
region_category                 0
preferred_offer_types           0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
churn_risk_score                0
Basic Membership                0
Gold Membership                 0
No Membership                   0
Platinum Membership             0
Premium Membership              0
Silver Membership               0
No reason specified             0
Poor Customer Service           0
Poor Product Quality            0
Poor Website                    0
Products always in Stock        0
Quality Customer Care           0
Reasonable Price                0
Too many ads                    0
User Friendly Website           0
No Information Available        0
Not Applicable                  0
Solved                          0
Solved in Follow-up             0
Unsolved                        0
dtype: int64

In [ ]:
df['past_complaint'].value_counts()

No     15689
Yes    15636
Name: past_complaint, dtype: int64

In [ ]:
for i in range(len(df)):
  if df['past_complaint'][i]=='Yes':
    df['past_complaint'][i]=1
  elif df['past_complaint'][i]=='No':
    df['past_complaint'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df['churn_risk_score'].dtype

dtype('int64')

In [ ]:
df=df[df['churn_risk_score']!=-1]

In [ ]:
df

       age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0       18      0               2  ...      0                    0         0
1       32      0               1  ...      1                    0         0
2       44      0               0  ...      0                    1         0
3       37      1               1  ...      0                    0         1
4       31      0               1  ...      1                    0         0
...    ...    ...             ...  ...    ...                  ...       ...
36987   46      0               1  ...      0                    0         0
36988   29      0               0  ...      0                    0         0
36989   23      0               0  ...      0                    0         1
36990   53      1               2  ...      0                    0         0
36991   35      1               0  ...      0                    0         0

[35829 rows x 33 columns]

In [ ]:
y=df['churn_risk_score']

In [ ]:
for i in range(len(y)):
  if y[i]==-1:
    y[i]=0
  elif y[i]==1:
    y[i]=1
  elif y[i]==2:
    y[i]=2
  elif y[i]==3:
    y[i]=3
  elif y[i]==4:
    y[i]=4
  elif y[i]==5:
    y[i]=5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df['churn_risk_score'].value_counts()

3    10424
4    10185
5     9827
2     2741
1     2652
Name: churn_risk_score, dtype: int64

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
y=df['churn_risk_score']

In [ ]:
np.min(y)

1

In [ ]:
x=df

In [ ]:
x=x.drop(['churn_risk_score'],axis=1)

In [ ]:
len(x)==len(y)

True

In [ ]:
y

0        2
1        1
2        5
3        5
4        5
        ..
35824    4
35825    5
35826    4
35827    3
35828    2
Name: churn_risk_score, Length: 35829, dtype: int64

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from tensorflow.keras.optimizers import RMSprop,SGD
import tensorflow as tf
from tensorflow import keras
opt = tf.keras.optimizers.Adam(learning_rate=0.001)

In [ ]:
model= Sequential()
model.add(Dense(1024,input_dim=32,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(512,input_dim=32,activation='relu'))
model.add(Dense(256,input_dim=32,activation='relu'))
model.add(Dense(128,input_dim=32,activation='relu'))
model.add(Dense(64,input_dim=32,activation='relu'))
model.add(Dense(6,activation='softmax'))
model.compile(loss='categorical_crossentropy',
              optimizer=opt,
              metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 1024)              33792
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_7 (Dense)              (None, 512)               524800
_________________________________________________________________
dense_8 (Dense)              (None, 256)               131328
_________________________________________________________________
dense_9 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_10 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_11 (Dense)             (None, 6)                 390
=================================================================
Total params: 731,462
Trainable params: 731,462
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import numpy as np
x = np.asarray(x).astype(np.float64)

In [ ]:
from keras.utils import to_categorical
y=to_categorical(y)

In [ ]:
model.fit(x,y,epochs=50,verbose=2)

Epoch 1/50
1120/1120 - 5s - loss: 12.7244 - accuracy: 0.2548
Epoch 2/50
1120/1120 - 2s - loss: 1.6523 - accuracy: 0.2919
Epoch 3/50
1120/1120 - 2s - loss: 1.4623 - accuracy: 0.3133
Epoch 4/50
1120/1120 - 2s - loss: 1.4127 - accuracy: 0.3271
Epoch 5/50
1120/1120 - 2s - loss: 1.3795 - accuracy: 0.3367
Epoch 6/50
1120/1120 - 2s - loss: 1.3530 - accuracy: 0.3593
Epoch 7/50
1120/1120 - 2s - loss: 1.3338 - accuracy: 0.3759
Epoch 8/50
1120/1120 - 2s - loss: 1.3141 - accuracy: 0.3953
Epoch 9/50
1120/1120 - 2s - loss: 1.2908 - accuracy: 0.4161
Epoch 10/50
1120/1120 - 2s - loss: 1.2602 - accuracy: 0.4353
Epoch 11/50
1120/1120 - 2s - loss: 1.2186 - accuracy: 0.4607
Epoch 12/50
1120/1120 - 2s - loss: 1.1698 - accuracy: 0.4839
Epoch 13/50
1120/1120 - 2s - loss: 1.1276 - accuracy: 0.4907
Epoch 14/50
1120/1120 - 2s - loss: 1.0867 - accuracy: 0.5061
Epoch 15/50
1120/1120 - 2s - loss: 1.0604 - accuracy: 0.5121
Epoch 16/50
1120/1120 - 2s - loss: 1.0178 - accuracy: 0.5286
Epoch 17/50
1120/1120 - 2s - loss: 1.0334 - accuracy: 0.5229
Epoch 18/50
1120/1120 - 2s - loss: 1.0071 - accuracy: 0.5339
Epoch 19/50
1120/1120 - 2s - loss: 1.0604 - accuracy: 0.5128
Epoch 20/50
1120/1120 - 2s - loss: 1.0773 - accuracy: 0.5052
Epoch 21/50
1120/1120 - 2s - loss: 1.1916 - accuracy: 0.4403
Epoch 22/50
1120/1120 - 2s - loss: 1.2691 - accuracy: 0.4007
Epoch 23/50
1120/1120 - 2s - loss: 1.1066 - accuracy: 0.4893
Epoch 24/50
1120/1120 - 2s - loss: 1.1011 - accuracy: 0.4970
Epoch 25/50
1120/1120 - 2s - loss: 1.0757 - accuracy: 0.5009
Epoch 26/50
1120/1120 - 2s - loss: 1.2236 - accuracy: 0.4356
Epoch 27/50
1120/1120 - 2s - loss: 1.1708 - accuracy: 0.4834
Epoch 28/50
1120/1120 - 2s - loss: 1.0637 - accuracy: 0.5203
Epoch 29/50
1120/1120 - 2s - loss: 1.0848 - accuracy: 0.5292
Epoch 30/50
1120/1120 - 2s - loss: 1.0685 - accuracy: 0.5460
Epoch 31/50
1120/1120 - 2s - loss: 1.0705 - accuracy: 0.5480
Epoch 32/50
1120/1120 - 2s - loss: 1.0398 - accuracy: 0.5534
Epoch 33/50
1120/1120 - 2s - loss: 0.9940 - accuracy: 0.5682
Epoch 34/50
1120/1120 - 2s - loss: 1.0114 - accuracy: 0.5594
Epoch 35/50
1120/1120 - 2s - loss: 0.9762 - accuracy: 0.5722
Epoch 36/50
1120/1120 - 2s - loss: 0.9924 - accuracy: 0.5712
Epoch 37/50
1120/1120 - 2s - loss: 0.9798 - accuracy: 0.5692
Epoch 38/50
1120/1120 - 2s - loss: 0.9553 - accuracy: 0.5826
Epoch 39/50
1120/1120 - 2s - loss: 0.9704 - accuracy: 0.5774
Epoch 40/50
1120/1120 - 2s - loss: 0.9430 - accuracy: 0.5851
Epoch 41/50
1120/1120 - 2s - loss: 0.9471 - accuracy: 0.5827
Epoch 42/50
1120/1120 - 2s - loss: 0.9592 - accuracy: 0.5760
Epoch 43/50
1120/1120 - 2s - loss: 0.9991 - accuracy: 0.5628
Epoch 44/50
1120/1120 - 2s - loss: 0.9617 - accuracy: 0.5781
Epoch 45/50
1120/1120 - 2s - loss: 0.9430 - accuracy: 0.5832
Epoch 46/50
1120/1120 - 2s - loss: 0.9233 - accuracy: 0.5891
Epoch 47/50
1120/1120 - 2s - loss: 0.8987 - accuracy: 0.5974
Epoch 48/50
1120/1120 - 2s - loss: 0.9278 - accuracy: 0.5831
Epoch 49/50
1120/1120 - 2s - loss: 0.9468 - accuracy: 0.5806
Epoch 50/50
1120/1120 - 2s - loss: 0.9971 - accuracy: 0.5642

In [ ]:
np.save('input', x)

In [ ]:
import numpy as np
with open('/content/input.npy', 'rb') as f:
    a = np.load(f)

In [ ]:
a.shape

(22595, 38)

In [ ]:
len(y)

31325

In [ ]:
test=pd.read_csv('/content/test.csv')

In [ ]:
test_gender = pd.get_dummies(test['gender'])
test=pd.concat([test, test_gender], axis=1)

In [ ]:
test.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 2948
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            159
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                1963
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64

In [ ]:
test['region_category'].value_counts()

Town       7635
City       6792
Village    2544
Name: region_category, dtype: int64

In [ ]:
for i in range(len(test)):
  if test['gender'][i]=='F':
    test['gender'][i]=0
  elif test['gender'][i]=='M':
    test['gender'][i]=1
  elif test['gender'][i]=='Unknown':
    test['gender'][i]=2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
for i in range(len(test)):
  if test['region_category'][i]=='Town':
    test['region_category'][i]=0
  elif test['region_category'][i]=='City':
    test['region_category'][i]=1
  elif test['region_category'][i]=='Village':
    test['region_category'][i]=2
  elif math.isnan(test['region_category'][i]):
    if test['age'][i]>25:
      test['region_category'][i]=1
    else:
      test['region_category'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
test['region_category'].fillna(value='Town', inplace=True)

In [ ]:
test_region = pd.get_dummies(test['region_category'])
test=pd.concat([test, test_region], axis=1)

In [ ]:
test_memcat = pd.get_dummies(test['membership_category'])
test=pd.concat([test, test_memcat], axis=1)

In [ ]:
test = test[test['preferred_offer_types']!='Credit/D']

In [ ]:
test['preferred_offer_types'].value_counts()

Without Offers              6663
Credit/Debit Card Offers    6602
Gift Vouchers/Coupons       6495
Name: preferred_offer_types, dtype: int64

In [ ]:
test['preferred_offer_types'].fillna(value='Without Offers', inplace=True)

In [ ]:
for i in range(len(test)):
  if math.isnan(test['preferred_offer_types'][i]):
    test['preferred_offer_types'][i]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
for i in range(len(test)):
  if test['preferred_offer_types'][i]=='Without Offers':
    test['preferred_offer_types'][i]=0
  elif test['preferred_offer_types'][i]=='Credit/Debit Card Offers':
    test['preferred_offer_types'][i]=1
  elif test['preferred_offer_types'][i]=='Gift Vouchers/Coupons':
    test['preferred_offer_types'][i]=2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(test)):
  if test['offer_application_preference'][i]=='Yes':
    test['offer_application_preference'][i]=1
  elif test['offer_application_preference'][i]=='No':
    test['offer_application_preference'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
test.head()

                            customer_id  ... Silver Membership
0  fffe43004900440031003700300030003400  ...                 0
1  fffe43004900440031003900370037003300  ...                 0
2  fffe43004900440034003800360037003000  ...                 1
3  fffe43004900440036003200370033003400  ...                 1
4  fffe43004900440035003000370031003900  ...                 0

[5 rows x 30 columns]

In [ ]:
test_offer = pd.get_dummies(test['preferred_offer_types'])
test=pd.concat([test, test_offer], axis=1)

In [ ]:
test.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                    0
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types              0
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                1963
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
F                                  0
M                                  0
Unknown                            0
City                               0
Town                               0
Village                            0
Basic Membership                   0
Gold Membership                    0
No Membership                      0
Platinum Membership                0
Premium Membership                 0
Silver Membership                  0
dtype: int64

In [ ]:
test = test[test['preferred_offer_types'].notnull()]

In [ ]:
test.reset_index(drop=True, inplace=True)

In [ ]:
test.head()

                            customer_id  age  ... Solved in Follow-up Unsolved
0  fffe43004900440031003700300030003400   50  ...                   0        0
1  fffe43004900440031003900370037003300   41  ...                   0        0
2  fffe43004900440034003800360037003000   31  ...                   1        0
3  fffe43004900440036003200370033003400   64  ...                   0        0
4  fffe43004900440035003000370031003900   16  ...                   1        0

[5 rows x 33 columns]

In [ ]:
for i in range(len(test)):
  if test['used_special_discount'][i]=='Yes':
    test['used_special_discount'][i]=1
  elif test['used_special_discount'][i]=='No':
    test['used_special_discount'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(test)):
  if test['offer_application_preference'][i]=='Yes':
    test['offer_application_preference'][i]=1
  elif test['offer_application_preference'][i]=='No':
    test['offer_application_preference'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
test=test.drop(['Name','security_no','joined_through_referral','referral_id','medium_of_operation','internet_option','last_visit_time'],axis=1)

In [ ]:
test=test.drop(['Name','gender','security_no','region_category','membership_category','joining_date','joined_through_referral','referral_id','preferred_offer_types','medium_of_operation','internet_option','last_visit_time'],axis=1)

In [ ]:
test_feed = pd.get_dummies(test['feedback'])
test=pd.concat([test, test_feed], axis=1)

In [ ]:
test=test.drop(['feedback'],axis=1)

In [ ]:
test_complaint = pd.get_dummies(test['complaint_status'])
test=pd.concat([test, test_complaint], axis=1)

In [ ]:
test=test.drop(['complaint_status'],axis=1)

In [ ]:
test=test.drop(['joining_date'],axis=1)

In [ ]:
test.head()

                            customer_id  age  ... Solved in Follow-up Unsolved
0  fffe43004900440031003700300030003400   50  ...                   0        0
1  fffe43004900440031003900370037003300   41  ...                   0        0
2  fffe43004900440034003800360037003000   31  ...                   1        0
3  fffe43004900440036003200370033003400   64  ...                   0        0
4  fffe43004900440035003000370031003900   16  ...                   1        0

[5 rows x 33 columns]

In [ ]:
test['avg_frequency_login_days'].value_counts()

Error                  1915
17.0                    759
7.0                     743
14.0                    729
18.0                    726
                       ...
38.68907424337722         1
-18.33647543048999        1
35.122273500233256        1
41.6880663438714          1
-14.488771468913018       1
Name: avg_frequency_login_days, Length: 946, dtype: int64

In [ ]:
 a=test[test['avg_frequency_login_days']!='Error']

In [ ]:
a['avg_frequency_login_days'] = a.avg_frequency_login_days.astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
a['avg_frequency_login_days'].median()

16.0

In [ ]:
for i in range(len(test)):
  if test['avg_frequency_login_days'][i]!='Error':
    test['avg_frequency_login_days'][i]=float(test['avg_frequency_login_days'][i])
  else:
    test['avg_frequency_login_days'][i]=16.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
test['points_in_wallet'].fillna(value=test['points_in_wallet'].mean(), inplace=True)

In [ ]:
for i in range(len(test)):
  if test['past_complaint'][i]=='Yes':
    test['past_complaint'][i]=1
  elif test['past_complaint'][i]=='No':
    test['past_complaint'][i]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
test

                                customer_id  age  ... Solved in Follow-up Unsolved
0      fffe43004900440031003700300030003400   50  ...                   0        0
1      fffe43004900440031003900370037003300   41  ...                   0        0
2      fffe43004900440034003800360037003000   31  ...                   1        0
3      fffe43004900440036003200370033003400   64  ...                   0        0
4      fffe43004900440035003000370031003900   16  ...                   1        0
...                                     ...  ...  ...                 ...      ...
19914  fffe43004900440035003600330037003800   12  ...                   0        0
19915  fffe43004900440032003900370037003100   40  ...                   0        0
19916  fffe43004900440036003100310036003700   55  ...                   0        1
19917  fffe43004900440034003200330033003600   17  ...                   0        0
19918  fffe43004900440036003200340030003100   20  ...                   0        1

[19919 rows x 33 columns]

In [ ]:
test['days_since_last_login'].value_counts()

 11     1088
 12     1085
 13     1081
 14     1078
 15     1060
 10     1015
 16      916
 9       887
-999     852
 8       777
 17      744
 7       666
 18      649
 6       595
 19      571
 20      524
 5       518
 4       457
 21      436
 22      385
 3       333
 23      310
 2       297
 24      206
 1       151
 25      108
 26       38
Name: days_since_last_login, dtype: int64

In [ ]:
test=test[test['days_since_last_login']!=-999]

In [ ]:
test.head()

                            customer_id  age  ...  Solved in Follow-up  Unsolved
0  fffe43004900440031003700300030003400   50  ...                    0         0
1  fffe43004900440031003900370037003300   41  ...                    0         0
2  fffe43004900440034003800360037003000   31  ...                    1         0
3  fffe43004900440035003000370031003900   16  ...                    1         0
4  fffe43004900440034003500360031003900   17  ...                    0         0

[5 rows x 39 columns]

In [ ]:
df.head()

   age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0   18      0               2  ...      0                    0         0
1   32      0               1  ...      1                    0         0
2   44      0               0  ...      0                    1         0
3   37      1               1  ...      0                    0         1
4   31      0               1  ...      1                    0         0

[5 rows x 33 columns]

In [ ]:
x_test=test.iloc[:,1:]

In [ ]:
x_test

       age gender region_category  ... Solved  Solved in Follow-up  Unsolved
0       50      0               2  ...      0                    0         0
1       41      1               2  ...      0                    0         0
2       31      0               0  ...      0                    1         0
3       64      1               0  ...      0                    0         0
4       16      0               0  ...      0                    1         0
...    ...    ...             ...  ...    ...                  ...       ...
19914   12      1               0  ...      0                    0         0
19915   40      0               2  ...      0                    0         0
19916   55      1               0  ...      0                    0         1
19917   17      0               1  ...      0                    0         0
19918   20      1               0  ...      0                    0         1

[19919 rows x 32 columns]

In [ ]:
x_test=np.asarray(x_test).astype(np.float64)

In [ ]:
x_test.shape

(19919, 32)

In [ ]:
pred=model.predict_classes(x_test)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [ ]:
np.max(pred)

5

In [ ]:
for i in range(len(pred)):
  if pred[i]==0:
    pred[i]=-1.0
  elif pred[i]==1:
    pred[i]=1.0
  elif pred[i]==2:
    pred[i]=2.0
  elif pred[i]==3:
    pred[i]=3.0
  elif pred[i]==4:
    pred[i]=4.0
  elif pred[i]==5:
    pred[i]=5.0

In [ ]:
submit=pd.read_csv('/content/test.csv')

In [ ]:
submit=submit.drop(['Name','gender','security_no','region_category','membership_category','joining_date','joined_through_referral','referral_id','preferred_offer_types','medium_of_operation','internet_option','last_visit_time'],axis=1)

In [ ]:
submit=submit.drop(['age','days_since_last_login','avg_time_spent','avg_transaction_value','avg_frequency_login_days','points_in_wallet','used_special_discount','offer_application_preference','past_complaint','complaint_status','feedback'],axis=1)

In [ ]:
cl=pd.DataFrame(y_pr, columns = ['churn_risk_score'])

In [ ]:
submit=pd.concat([submit, cl], axis=1)

In [ ]:
submit

                                customer_id  churn_risk_score
0      fffe43004900440031003700300030003400                 3
1      fffe43004900440031003900370037003300                 3
2      fffe43004900440034003800360037003000                 0
3      fffe43004900440036003200370033003400                 3
4      fffe43004900440035003000370031003900                 5
...                                     ...               ...
19914  fffe43004900440035003600330037003800                 3
19915  fffe43004900440032003900370037003100                 5
19916  fffe43004900440036003100310036003700                 5
19917  fffe43004900440034003200330033003600                 4
19918  fffe43004900440036003200340030003100                 3

[19919 rows x 2 columns]

In [ ]:
submit.to_csv('submission8.csv')

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=300)
clf.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
np.min(y_pr)

0

In [ ]:
y_pred=clf.predict(x_test)

In [ ]:
b=list(y_pred[0]).index(1)

In [ ]:
b

3

In [ ]:
result=np.where(y_pred[3] == 1)

In [ ]:
y_pred[116]

array([0., 0., 0., 0., 0., 1.], dtype=float32)

In [ ]:
len(result

(array([3]),)

In [ ]:
y_pr=[np.where(y_pred[i]==1)[0][0] for i in range(len(y_pred))]

IndexError: ignored

In [ ]:
y_pr=[]
for i in range(len(y_pred)):
  try:
    result=list(y_pred[i]).index(1)
    if result==0:
      y_pr.append(0)
    elif result==1:
      y_pr.append(1)
    elif result==2:
      y_pr.append(2)
    elif result==3:
      y_pr.append(3)
    elif result==4:
      y_pr.append(4)
    elif result==5:
      y_pr.append(5)
  except:
    y_pr.append(0)

In [ ]:
len(y_pr)

19919

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred= knn.predict(x_test)

In [ ]:
list(y_pred[0]).index(np.max(y_pred[0]))

4

In [ ]:
y_pred[0]

array([2.2253726e-32, 9.2333648e-04, 1.9328555e-03, 5.8459155e-03,
       5.6128228e-01, 4.3001562e-01], dtype=float32)